@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.typingEffect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) forwards;    
}

@media (max-width: 390px) {
    .breakWord {
        padding-top: 2px;
        padding-bottom: 4px;
        overflow-wrap: break-word;
    }
    .inDiv{
        width: 16rem;
    }

    
  }

@media screen and (min-width: 390px) and (max-width:500px) {
    .inDiv{
        width: 20rem;
    }
    .btnDiv{
        margin-left: 4rem;
    }
}

@media screen and (min-width: 501px) and (max-width:550px) {
    .inDiv{
        width: 23rem;
    }
    .btnDiv{
        margin-left: 3.5rem;
    }
}

@media screen and (min-width: 551px) and (max-width:600px) {
    .inDiv{
        width: 25rem;
    }
    .btnDiv{
        margin-left: 5rem;
    }
}

@media screen and (min-width: 601px) and (max-width:650px) {
    .inDiv{
        width: 27rem;
    }
}

@media screen and (min-width: 651px) and (max-width:700px) {
    .inDiv{
        width: 29rem;
    }
}

@media screen and (min-width: 701px) and (max-width:750px) {
    .inDiv{
        width: 32rem;
    }
}

@media screen and (min-width: 751px) and (max-width:1050px) {
    .inDiv{
        width: 30rem;
    }
    .btnDiv{
        margin-left: 5rem;
    }

}

@media screen and (min-width: 1051px) and (max-width:1190px) {
    .inDiv{
        width: 36rem;
    }

}

@media screen and (min-width: 1191px) and (max-width:2500px) {
    .inDiv{
        width: 3rem;
    }

}


